html, body {
    overflow-x: hidden;
}

section {
    position: relative;
    background: rgb(244, 244, 244);
    padding: 40px 0px 0px;
}

section::before {
    pointer-events: none;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../images/bg_body.png") center center / cover no-repeat;
    filter: grayscale(100%);
    content: "";
    opacity: 0.05;
}

section > .container {
    position: relative;
    z-index: 2;
}

section.no-bg {
    background: rgb(255, 255, 255);
}

section.no-bg::before {
    display: none;
}

* {
    letter-spacing: -0.5px;
}

:not(html, body)::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background: rgba(136, 136, 136, 0.4);
    border-radius: 30px;
}

:not(html, body)::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    height: 4px;
    border-radius: 30px;
}

.is-pc {
    display: block !important;
}

.is-m {
    display: none !important;
}

@media (max-width: 991px) {
    .is-pc {
        display: none !important;
    }

    .is-m {
        display: block !important;
    }
}

.container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0px auto;
}

@media (max-width: 991px) {
    .container {
        padding: 0px 10px;
    }
}

header {
    background: rgb(255, 255, 255);
}

header .header-lnb {
    border-bottom: 1px solid rgb(217, 217, 217);
}

header .header-lnb .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .header-lnb .header-lnb-left ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header .header-lnb .header-lnb-left ul li {
    margin: 0px 24px 0px 0px;
}

header .header-lnb .header-lnb-left ul li:last-of-type {
    margin: 0px;
}

header .header-lnb .header-lnb-left ul li a {
    display: block;
    padding: 14px 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(134, 134, 134);
}

header .header-lnb .header-lnb-left ul li a:hover {
    color: rgb(51, 51, 51);
}

header .header-lnb .header-lnb-left ul li.active a {
    color: rgb(51, 51, 51);
}

header .header-lnb .header-lnb-right ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header .header-lnb .header-lnb-right ul li {
    margin: 0px 0px 0px 12px;
}

header .header-lnb .header-lnb-right ul li:first-of-type {
    margin: 0px;
}

header .header-lnb .header-lnb-right ul li a {
    display: block;
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

header .header-lnb .header-lnb-right ul li.facebook a {
    background-image: url("../images/icon_facebook.png");
}

header .header-lnb .header-lnb-right ul li.instagram a {
    background-image: url("../images/icon_instagram.png");
}

header .header-lnb .header-lnb-right ul li.blog a {
    background-image: url("../images/icon_blog.png");
}

header .header-lnb .header-lnb-right ul li.kakao a {
    background-image: url("../images/icon_kakao.png");
}

header .header-gnb {
    padding: 18px 0px;
}

header .header-gnb .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .header-gnb .side-wrap {
    display: flex;
    gap: 0px 15px;
}

header .header-gnb .side-wrap a {
    font-size: 15px;
    font-weight: 600;
}

header .header-gnb .side-btn img {
    width: 35px;
}

header .header-gnb a.menu {
    display: none;
}

header .header-gnb a.service {
    width: 184px;
    height: 44px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(25, 93, 155) 0%, rgb(61, 134, 198) 100%);
}

header .header-gnb a.service::before {
    display: block;
    font-size: 0px;
    width: 32px;
    height: 32px;
    margin: 0px 8px 0px 0px;
    background: url("../images/icon_book.png") center center / cover no-repeat;
    content: "";
}

header .header-gnb a.service span {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

header .header-gnb h1 a img {
    width: 118px;
    image-rendering: -moz-crisp-edges; /* firefox */
    image-rendering: -o-crisp-edges; /* opera */
    image-rendering: -webkit-optimize-contrast; /* chrome(비표준) */
    image-rendering: crisp-edges;
    transform: translateZ(0);
    backface-visibility:hidden;
}

header .header-mnb {
    display: none;
}

@media (max-width: 991px) {
    header .header-lnb {
        display: none;
    }

    header .header-gnb {
        position: relative;
    }

    header .header-gnb a.menu {
        display: block;
        font-size: 0px;
        width: 36px;
        height: 36px;
        background: url("../images/icon_menu.png") center center / cover no-repeat;
    }

    header .header-gnb a.service {
        width: 56px;
        height: 29px;
        overflow: hidden;
        font-size: 14px;
        white-space: nowrap;
        text-align: center;
    }

    header .header-gnb a.service::before {
        display: none;
    }

    header .header-gnb a.service span {
        display: none;
    }

    header .header-gnb h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    header .header-gnb h1 a img {
        width: 118px;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        transform: translateZ(0);
        backface-visibility: hidden;
    }

    header .header-mnb {
        pointer-events: none;
        transition: all 0.5s ease 0s;
        opacity: 0;
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: rgba(0, 0, 0, 0.5);
    }

    header .header-mnb .inner {
        position: absolute;
        left: -300px;
        top: 0px;
        transition: all 0.5s ease 0s;
        min-width: 310px;
        width: 80vw;
        height: 100%;
        background: rgb(255, 255, 255);
    }

    header .header-mnb .mnb-head {
        border-bottom: 1px solid rgb(217, 217, 217);
        padding: 18px 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    header .header-mnb .mnb-head h2 a img {
        width: 118px;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        transform: translateZ(0);
        backface-visibility: hidden;
    }

    header .header-mnb .mnb-head a.close {
        display: block;
        font-size: 0px;
        width: 25px;
        height: 25px;
        background: url("../images/icon_close.png") right center / 16px no-repeat;
    }

    header .header-mnb .mnb-body .mnb-body-menu {
        width: 60%;
        margin: 40px auto 0px;
        text-align: center;
    }

    header .header-mnb .mnb-body .mnb-body-menu ul li {
        border-bottom: 1px solid rgb(238, 238, 238);
    }

    header .header-mnb .mnb-body .mnb-body-menu ul li a {
        display: block;
        padding: 20px 24px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(134, 134, 134);
    }

    header .header-mnb .mnb-body .mnb-body-menu ul li.active a {
        color: rgb(220, 51, 71);
    }

    header .header-mnb .mnb-body .mnb-body-info {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        padding: 24px 12px;
    }

    header.fixed .header-mnb {
        pointer-events: inherit;
        opacity: 1;
    }

    header.fixed .header-mnb .inner {
        left: 0px;
    }
}

@media (max-height: 720px) {
    header .header-mnb .mnb-body .mnb-body-menu {
        margin-top: 30px;
    }

    header .header-mnb .mnb-body .mnb-body-menu ul li a {
        padding: 15px;
    }
}

footer {
    background: rgb(56, 56, 56);
}

footer .footer-top {
    border-bottom: 1px solid rgb(116, 116, 116);
}

footer .footer-top .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

footer .footer-top h2 img {
    width: 115px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    transform: translateZ(0);
    backface-visibility: hidden;
}

footer .footer-top ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer .footer-top ul li {
    margin: 0px 0px 0px 24px;
}

footer .footer-top ul li:first-of-type {
    margin: 0px;
}

footer .footer-top ul li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgb(136, 136, 136);
    padding: 27px 0px;
}

footer .footer-bottom {
    padding: 40px 0px 60px;
}

footer .footer-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer-bottom .footer-bottom-left {
    flex: 1 1 0%;
    min-width: 0px;
    padding: 0px 24px 0px 0px;
}

footer .footer-bottom .footer-bottom-left .list {
    display: flex;
    flex-wrap: wrap;
}

footer .footer-bottom .footer-bottom-left .list .list-item {
    margin: 0px 40px 0px 0px;
}

footer .footer-bottom .footer-bottom-left .list .list-item:last-of-type {
    margin: 0px;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-head small {
    display: block;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-head b {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 4px 0px 0px;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-head b a {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-body {
    margin: 12px 0px 0px;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 5px;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li:last-of-type {
    margin: 0px;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span {
    font-size: 14px;
    color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background: rgb(134, 134, 134);
    margin: 0px 12px;
}

footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span:last-of-type::after {
    display: none;
}

footer .footer-bottom .footer-bottom-copy {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 24px 0px;
}

footer .footer-fixed {
    display: none;
}

footer .footer-right {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 10;
}

footer .footer-right ul {
    width: 110px;
}

footer .footer-right ul li {
    margin: 0px 0px 10px;
}

footer .footer-right ul li:last-of-type {
    margin: 0px;
}

footer .footer-right ul li a {
    display: block;
}

footer .footer-right ul li a img {
    max-width: 100%;
}

@media (max-width: 1650px) {
    footer .footer-right {
        display: none;
    }
}

@media (max-width: 1050px) {
    footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span {
        width: 100%;
        margin: 0px 0px 5px;
    }

    footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span::after {
        display: none;
    }

    footer .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span:last-of-type {
        margin: 0px;
    }
}

@media (max-width: 991px) {
    footer {
        padding: 0px;
    }

    footer .footer-top {
        border-top: 1px solid rgb(217, 217, 217);
    }

    footer .footer-top h2 {
        display: none;
    }

    footer .footer-top ul {
        justify-content: center;
        width: 100%;
    }

    footer .footer-top ul li a {
        padding: 10px 0px;
    }

    footer .footer-bottom .footer-bottom-left {
        width: 100%;
        padding: 0px 0px 0px 15px;
    }

    footer .footer-bottom .footer-bottom-left .list .list-item {
        margin: 0px 0px 24px;
        width: 100%;
    }

    footer .footer-bottom .footer-bottom-left .list .list-item:last-of-type {
        margin: 0px;
    }

    footer .footer-bottom .footer-bottom-left .list .list-item .list-head a {
        display: block;
        position: relative;
    }

    footer .footer-bottom .footer-bottom-left .list .list-item .list-head a::after {
        position: absolute;
        right: 0px;
        top: 0%;
        transform: rotate(0deg);
        width: 34px;
        height: 34px;
        content: "";
        background: url("../images/icon_arrow_bottom.png") center center / cover no-repeat;
    }

    footer .footer-bottom .footer-bottom-left .list .list-item.active .list-head a::after {
        top: 0%;
        transform: rotate(180deg);
    }

    footer .footer-bottom .footer-bottom-left .list .list-item .list-body {
        display: none;
    }

    footer .footer-bottom .footer-bottom-right {
        display: none;
    }

    footer .footer-bottom .footer-bottom-copy {
        padding: 42px 0px 24px;
    }

    footer .footer-fixed {
        display: block;
        background: rgb(255, 255, 255);
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        z-index: 99;
        box-shadow: rgba(0, 0, 0, 0.05) 0px -5px 10px;
    }

    footer .footer-fixed ul {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 10px;
    }

    footer .footer-fixed ul li {
        width: calc(50% - 5px);
    }

    footer .footer-fixed ul li a {
        width: 100%;
        height: 60px;
        border-radius: 60px;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    footer .footer-fixed ul li a::before {
        display: inline-block;
        content: "";
        width: 32px;
        height: 32px;
        margin: 0px 4px 0px 0px;
        background-size: cover;
        background-position: center center;
    }

    footer .footer-fixed ul li:nth-of-type(1) {
        margin-right: 5px;
    }

    footer .footer-fixed ul li:nth-of-type(1) a {
        background: rgb(251, 227, 0);
        color: rgb(34, 34, 34);
    }

    footer .footer-fixed ul li:nth-of-type(1) a::before {
        background-image: url("../images/icon_kakao.png");
    }

    footer .footer-fixed ul li:nth-of-type(2) {
        margin-left: 5px;
    }

    footer .footer-fixed ul li:nth-of-type(2) a {
        background: rgb(220, 51, 71);
        color: rgb(255, 255, 255);
    }

    footer .footer-fixed ul li:nth-of-type(2) a::before {
        background-image: url("../images/icon_calculate.png");
    }
}


/* footer sub용 */
footer.type01 {background:#fff;}
footer.type01 .footer-top {border-bottom:1px solid #D9D9D9;}
footer.type01 .footer-top .container {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
footer.type01 .footer-top h2 img {width:113px; mix-blend-mode:luminosity;}
footer.type01 .footer-top ul {display:flex; flex-wrap:wrap; align-items:center;}
footer.type01 .footer-top ul li {margin:0 0 0 24px;}
footer.type01 .footer-top ul li:first-of-type {margin:0;}
footer.type01.type01.type01 .footer-top ul li a {display:block; font-size:14px; font-weight:600; color:#333; padding:27px 0;}
footer.type01.type01 .footer-bottom {padding:24px 0;}
footer.type01 .footer-bottom .container {display:flex; flex-wrap:wrap; justify-content:space-between;}
footer.type01 .footer-bottom .footer-bottom-left {flex:1; min-width:0; padding:0 24px 0 0;}
footer.type01 .footer-bottom .footer-bottom-left .list {display:flex; flex-wrap:wrap;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item {margin:0 40px 0 0;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item:last-of-type {margin:0;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-head small {display:block; font-size:12px; color:#333;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-head b {display:block; font-size:16px; font-weight:600; color:#333; margin:4px 0 0;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body {margin:12px 0 0;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li {display:flex; flex-wrap:wrap; align-items:center; margin:0 0 5px;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li:last-of-type {margin:0;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span {font-size:14px; color:#868686; display:flex; flex-wrap:wrap; align-items:center;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span:after {display:inline-block; content:""; width:1px; height:10px; background:#868686; margin:0 12px;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span:last-of-type:after {display:none;}
footer.type01 .footer-bottom .footer-bottom-copy {width:100%;text-align:center;font-size: 12px;font-weight:600;color:#333;padding:24px 0;}
footer.type01 .footer-fixed {display:none;}
@media (max-width:1050px){
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span {width:100%; margin:0 0 5px;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span:after {display:none;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body ul li span:last-of-type {margin:0;}
}
@media (max-width:991px){
footer.type01 {padding:0;}
footer.type01 .footer-top {border-top:1px solid #d9d9d9;}
footer.type01 .footer-top h2 {display:none;}
footer.type01 .footer-top ul {justify-content:center; width:100%;}
footer.type01 .footer-top ul li a {padding:10px 0;}
footer.type01 .footer-bottom .footer-bottom-left {width:100%; padding:0 0 0 15px;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item {margin:0 0 24px; width:100%;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item:last-of-type {margin:0;}	   
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-head a {display:block; position:relative;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-head a:after {position:absolute; right:0; top:0%; transform:rotate(0deg); width:34px; height:34px; content:""; background:url('../images/icon_arrow_bottom.png') no-repeat center / cover;}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item.active .list-head a:after {top:0%; transform:rotate(180deg);}
footer.type01 .footer-bottom .footer-bottom-left .list .list-item .list-body {display:none;}
footer.type01 .footer-bottom .footer-bottom-right {display:none;}
footer.type01 .footer-bottom .footer-bottom-copy {padding:42px 0 24px;}
footer.type01 .footer-fixed {display:block; background:#fff; position:fixed; left:0; bottom:0; width:100%; z-index:99; box-shadow:0 -5px 10px rgba(0,0,0,0.05);}
footer.type01 .footer-fixed ul {display:flex; flex-wrap:wrap; padding:20px 10px;}
footer.type01 .footer-fixed ul li {width:calc(50% - 5px);}
footer.type01 .footer-fixed ul li a {width:100%; height:60px; border-radius:60px; font-size:16px; font-weight:700; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
footer.type01 .footer-fixed ul li a:before {display:inline-block; content:""; width:32px; height:32px; margin:0 4px 0 0; background-size:cover; background-position:center;}
footer.type01 .footer-fixed ul li:nth-of-type(1) {margin-right:5px;}
footer.type01 .footer-fixed ul li:nth-of-type(1) a {background:#FBE300; color:#222;}
footer.type01 .footer-fixed ul li:nth-of-type(1) a:before {background-image:url('../images/icon_kakao.png');}
footer.type01 .footer-fixed ul li:nth-of-type(2) {margin-left:5px;}
footer.type01 .footer-fixed ul li:nth-of-type(2) a {background:#DC3347; color:#fff;}
footer.type01 .footer-fixed ul li:nth-of-type(2) a:before {background-image:url('../images/icon_calculate.png');}
}

/* kakao-box sub용 */
footer.type01 .kakao-box {width:197px; background:#1877f2; border-radius:8px; padding:12px 24px; text-align:center;}
footer.type01 .kakao-box b {display:flex; flex-wrap:wrap; align-items:baseline; justify-content:center; font-size:14px; font-weight:600; color:#fff;}
footer.type01 .kakao-box b strong {font-size:24px; font-weight:800; color:#fff; margin:5px 0 0;}
footer.type01 .kakao-box a {margin:12px 0 0; display:flex; flex-wrap:wrap; align-items:center; justify-content:left; height:32px; border-radius:190px; font-size:14px; font-weight:600; color:#392020; background:#FEE500;}
footer.type01 .kakao-box a:before {display:inline-block; font-size:0; margin-left:10px; width:25px; height:25px; background:url('../images/icon_kakao_channel.png') no-repeat center / cover; content:"";} 
@media (max-width:991px){
footer.type01 .kakao-box {width:100%; border-radius:0; padding:12px 26px;}
footer.type01 .kakao-box b {align-items:center; font-size:13px;}
footer.type01 .kakao-box b strong {margin:0 0 0 8px; flex:1; min-width:0; font-size:20px;}
footer.type01 .kakao-box a {width:100%; justify-content:center;}
} 

.ft-blue {
    color: rgb(24, 119, 242) !important;
}

.ft-navy {
    color: rgb(30, 53, 99) !important;
}

.ft-orange {
    color: rgb(247, 98, 82) !important;
}

.ft-red {
    color: rgb(220, 51, 71) !important;
}

.ft-black {
    color: rgb(17, 17, 17) !important;
}

.ft-yellow2 {
    color: rgb(251, 227, 0) !important;
}

.icon-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icon-box .icon-download {
    width: 210px;
    height: 40px;
    border-radius: 48px;
    border: 1px solid rgb(24, 119, 242);
    font-size: 18px;
    color: rgb(24, 119, 242);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icon-box .icon-download::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background: url("../images/icon_download2.png") center center / cover no-repeat;
    margin: 0px 5px 0px 0px;
}

@media (max-width: 991px) {
    .icon-box .icon-download {
        width: 170px;
        height: 35px;
        font-size: 16px;
    }

    .icon-box .icon-download::before {
        width: 15px;
        height: 15px;
        margin: 0px 3px 0px 0px;
    }
}



.title-box h2 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(26, 26, 26);
    text-align: center;
    margin: 0px 0px 10px;
}

.title-box h3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    margin: 0px 0px 10px;
}

.title-box h3::before {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: rgb(26, 26, 26);
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
    content: "";
}

.title-box p {
    font-size: 18px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    line-height: 1.3;
    text-align: center;
}

.title-box p b {
    position: relative;
}

.title-box p b em {
    font-size: 18px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    line-height: 1.3;
    position: relative;
}

.title-box p b::before {
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 6px;
    background: rgba(220, 51, 71, 0.7);
    content: "";
}

.title-box small {
    font-size: 15px;
    line-height: 1.3;
    color: rgb(85, 85, 85);
    word-break: keep-all;
    display: block;
}

.title-box.gr {
    background: rgb(245, 245, 245);
    margin: 0px -24px;
    padding: 24px 15px;
}

.no-bg .title-box h2 {
    font-size: 42px;
}

.no-bg .title-box > p {
    font-size: 22px;
    margin-top: 20px;
}

.no-bg .title-box p em {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 600;
}

.no-bg .title-box p b em {
    font-size: 28px;
}

.no-bg .title-box small {
    font-size: 20px;
}

@media (max-width: 991px) {
    .title-box h2 {
        font-size: 24px;
    }

    .title-box.gr {
        margin: 0px -15px;
        padding: 24px 10px;
    }

    .title-box p {
        font-size: 16px;
    }

    .title-box p b em {
        font-size: 16px;
    }

    .title-box small {
        font-size: 13px;
    }

    .no-bg .title-box h2 {
        font-size: 28px;
    }

    .no-bg .title-box p {
        font-size: 16px;
    }

    .no-bg .title-box p em {
        font-size: 16px;
    }

    .no-bg .title-box p b em {
        font-size: 16px;
    }

    .no-bg .title-box small {
        font-size: 14px;
    }
}

.middle-title-box {
    margin-top: 80px;
    text-align: center;
}

.middle-title-box + img {
    display: block;
    width: 70vw;
    max-width: 800px;
    margin: 20px auto;
}

.middle-title-box h3 {
    font-size: 28px;
    font-weight: bold;
}

.middle-title-box p {
    margin: 20px auto 50px;
    font-size: 20px;
    line-height: 1.4;
}

.middle-title-box p strong {
    vertical-align: baseline;
    font-size: inherit;
    font-weight: bold;
}

@media (max-width: 991px) {
    .middle-title-box {
        margin-top: 40px;
    }
    .middle-title-box h3 {
        font-size: 22px;
    }

    .middle-title-box p {
        font-size: 15px;
    }

    .middle-title-box + img + img {
        max-width: 80vw;
        margin: auto;
    }
}

.img-flex-box {
    display: flex;
    justify-content: center;
    gap: 20px 0;
    text-align: center;
}

.img-flex-item {
    width: 300px;
}

.img-flex-item img {
    width: 70%;
    margin-right: -5px;
}

.img-flex-item h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0px 0px 10px;
}

.img-flex-item p {
    color: rgb(136, 136, 136);
    line-height: 1.3;
    font-size: 14px;
    margin-bottom: 10px;
}

.img-flex-item p small {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    opacity: 0.5;
}

@media (max-width: 991px) {
    .img-flex-item h4 {
        font-size: 18px;
    }
    .img-flex-box {
        flex-direction: column;
        align-items: center;
    }
}


.main-title-box h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: rgb(25, 93, 155);
    line-height: 1.3;
}

.main-title-box h2 b {
    font-size: 42px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1.3;
    margin: 5px 0px;
    background: rgb(24, 119, 242);
}

@media (max-width: 991px) {
    .main-title-box h2 {
        font-size: 24px;
        text-align: left;
        line-height: 1.4;
    }

    .main-title-box h2 b {
        font-size: 24px;
        line-height: 1.4;
    }

    .main-title-box h2 br {
        display: none;
    }
}

.sub-title-box > div {
    border-left: 4px solid rgb(53, 93, 171);
    padding: 0px 0px 0px 12px;
}

.sub-title-box > div p {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: rgb(26, 26, 26);
}

.sub-title-box > div small {
    display: block;
    font-size: 18px;
    line-height: 1.3;
    color: rgb(85, 85, 85);
    word-break: keep-all;
}

@media (max-width: 991px) {
    .sub-title-box > div p {
        font-size: 20px;
    }

    .sub-title-box > div small {
        font-size: 14px;
        margin: 5px 0px 0px;
    }
}

.text-box p {
    font-size: 18px;
    line-height: 1.3;
    word-break: keep-all;
}

@media (max-width: 991px) {
    .text-box p {
        font-size: 14px;
    }
}

.iframe-box {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 500px;
}

.iframe-box::after {
    display: block;
    content: "";
    padding-bottom: 56.5%;
}

.iframe-box iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-box-02 .iframe-box {
    margin-top: 50px;
}

@media (max-width: 991px) {
    .iframe-box {
        border-radius: 10px;
        width: inherit;
    }
}

.intro-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.intro-box .intro-content {
    margin-left: 20px;
}

.intro-box .intro-content strong {
    display: block;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.intro-box .intro-content p {
    margin: 5px 0px 25px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.3;
}

.intro-box .intro-content a {
    margin: 12px 0px 0px;
    width: 130px;
    height: 35px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-box .intro-image {
    width: 500px;
}

@media (max-width: 1200px) {
    .intro-box .intro-image {
        width: 500px;
    }
}

@media (max-width: 991px) {
    .intro-box {
        margin-top: 25px;
        padding: 0px 20px;
        border-radius: 15px;
    }

    .intro-box .intro-content {
        flex: 0 0 auto;
        width: 100%;
        padding: 0px;
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
    }

    .intro-box .intro-content strong {
        font-size: 22px;
    }

    .intro-box .intro-content p {
        font-size: 15px;
    }

    .intro-box .intro-content a {
        font-size: 16px;
        margin: auto;
    }

    .intro-box .intro-image {
        width: 100%;
        margin: 20px 0px 0px;
    }
}

.list-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    margin: 0px auto;
}

.list-box .list-left {
    flex: 1 1 0%;
    min-width: 0px;
    padding: 15px 0px 0px;
}

.list-box .list-left ul {
    max-width: 520px;
    margin: 0px 0px -45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-box .list-left ul li {
    width: 33.33%;
    margin: 0px 0px 45px;
}

.list-box .list-left ul li b {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.list-box .list-left ul li b::before {
    display: block;
    content: "";
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center center;
    margin: 0px auto 12px;
}

.list-box .list-left ul li:nth-of-type(1) b::before {
    background-image: url("../images/icon_randing_03_01.png");
}

.list-box .list-left ul li:nth-of-type(2) b::before {
    background-image: url("../images/icon_randing_03_02.png");
}

.list-box .list-left ul li:nth-of-type(3) b::before {
    background-image: url("../images/icon_randing_03_03.png");
}

.list-box .list-left ul li:nth-of-type(4) b::before {
    background-image: url("../images/icon_randing_03_04.png");
}

.list-box .list-left ul li:nth-of-type(5) b::before {
    background-image: url("../images/icon_randing_03_05.png");
}

.list-box .list-left ul li:nth-of-type(6) b::before {
    background-image: url("../images/icon_randing_03_06.png");
}

.list-box .list-left .icon-box {
    margin: 50px auto 0px;
    justify-content: center;
    max-width: 520px;
    width: 100%;
    position: relative;
    left: -60px;
}

.list-box .list-right {
    width: 386px;
}

.list-box .list-right img {
    display: block;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 991px) {
    .list-box .list-left {
        flex: 0 0 auto;
        width: 100%;
    }

    .list-box .list-left ul {
        max-width: 100%;
        margin: 0px;
    }

    .list-box .list-left ul li {
        width: 16.66%;
        margin: 0px;
        padding: 0px 10px;
    }

    .list-box .list-left ul li b {
        font-size: 16px;
    }

    .list-box .list-left .icon-box {
        left: 0px;
        margin: 30px auto 0px;
    }

    .list-box .list-right {
        margin: 25px auto 0px;
    }
}

@media (max-width: 767px) {
    .list-box .list-left ul {
        margin: 0px 0px -15px;
    }

    .list-box .list-left ul li {
        width: 33.33%;
        margin: 0px 0px 15px;
    }

    .list-box .list-left ul li b::before {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 650px) {
    .list-box .list-left ul li b::before {
        width: 80px;
        height: 80px;
    }
}

.table-box table {
    border-top: 1px solid rgb(220, 220, 220);
}

.table-box table tr th {
    padding: 20px 10px;
    max-width: 176px;
    background: rgba(172, 216, 255, 0.5);
    font-size: 16px;
    font-weight: 600;
    color: rgb(13, 13, 13);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.table-box table tr td {
    padding: 20px 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
}

.table-box table tr td b {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
}

.table-box table tr td.gr {
    background: rgb(247, 247, 247);
}

@media (max-width: 991px) {
    .table-box table tr th {
        padding: 15px 5px;
        font-size: 13px;
        line-height: 1.3;
        word-break: keep-all;
    }

    .table-box table tr td {
        padding: 15px 5px;
        font-size: 13px;
        word-break: break-word;
    }

    .table-box table tr td b {
        font-size: 13px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .table-box table tr td br {
        display: none;
    }
}

.tab-fixed-box {
    position: relative;
    margin: -52px auto 0px;
    max-width: 1230px;
    z-index: 12;
}

.tab-fixed-box .tab-box-inner {
    background: rgb(255, 255, 255);
    border-radius: 360px;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 14px 0px;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.tab-fixed-box .tab-box-inner .tab-head strong {
    font-size: 36px;
    font-weight: 700;
}

.tab-fixed-box .tab-box-inner .tab-body {
    flex: 1 1 0%;
    min-width: 0px;
    padding-left: 20px;
}

.tab-fixed-box .tab-box-inner .tab-body ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.tab-fixed-box .tab-box-inner .tab-body ul li {
    margin: 0px 10px 0px 0px;
}

.tab-fixed-box .tab-box-inner .tab-body ul li:last-of-type {
    margin: 0px;
}

.tab-fixed-box .tab-box-inner .tab-body ul li a {
    padding: 12px 24px;
    font-size: 18px;
    color: rgb(17, 17, 17);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tab-fixed-box .tab-box-inner .tab-body ul li.active a {
    color: rgb(220, 51, 71);
}

.tab-fixed-box.fixed::after {
    display: block;
    content: "";
    width: 100%;
    height: 104px;
}

.tab-fixed-box.fixed .tab-box-inner {
    position: fixed;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 1100px) {
    .tab-fixed-box .tab-box-inner {
        justify-content: center;
    }

    .tab-fixed-box .tab-box-inner .tab-head {
        display: none;
    }

    .tab-fixed-box .tab-box-inner .tab-body ul {
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .tab-fixed-box {
        margin: 0px;
    }

    .tab-fixed-box .tab-box-inner {
        border-radius: 0px;
        padding: 10px 0px;
        margin: 0px -10px;
    }

    .tab-fixed-box .tab-box-inner .tab-body {
        padding-left: 0px;
    }

    .tab-fixed-box .tab-box-inner .tab-body ul {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .tab-fixed-box .tab-box-inner .tab-body ul::-webkit-scrollbar {
        display: none;
    }

    .tab-fixed-box .tab-box-inner .tab-body ul li {
        display: inline-block;
        margin: 0px 10px 0px 0px;
    }

    .tab-fixed-box .tab-box-inner .tab-body ul li:first-of-type {
        margin-left: 10px !important;
    }

    .tab-fixed-box .tab-box-inner .tab-body ul li:last-of-type {
        margin-right: 10px;
    }

    .tab-fixed-box .tab-box-inner .tab-body ul li a {
        padding: 10px 15px;
        font-size: 13px;
    }

    .tab-fixed-box.fixed::after {
        height: 55px;
    }

    .tab-fixed-box.fixed .tab-box-inner {
        width: 100%;
        margin: 0px;
    }
}

.tab-box {
    margin: 0px 0px 24px;
}

.tab-box ul {
    display: flex;
    flex-wrap: wrap;
}

.tab-box ul li {
    margin: 0px 60px 0px 0px;
}

.tab-box ul li:last-of-type {
    margin: 0px;
}

.tab-box ul li a {
    position: relative;
}

.tab-box ul li.active a::before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background: rgba(220, 51, 71, 0.7);
    content: "";
}

.tab-box ul li a b {
    font-size: 28px;
    font-weight: 600;
    position: relative;
}

@media (max-width: 991px) {
    .tab-box ul li {
        margin: 0px 20px 0px 0px;
    }

    .tab-box ul li.active a::before {
        height: 5px;
    }

    .tab-box ul li a b {
        font-size: 20px;
    }
}

.tab-content-box .content-box {
    display: none;
}

.tab-content-box .content-box.active {
    display: block;
}

.tab-content-box .content-box img {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
}

.tab-content-box .content-box img.doctor {
    max-width: 780px;
    margin: 40px auto 0px;
}

.gallery-box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-box ul li {
    width: calc(33.33% - 10px);
    position: relative;
    background-size: cover;
    background-position: center center;
    border-radius: 24px;
}

.gallery-box ul li::after {
    display: block;
    content: "";
    padding-bottom: 100%;
}

.gallery-box ul li > div {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 50px;
    padding: 0px 24px;
}

.gallery-box ul li > div span {
    padding: 8px 0px;
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 15px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(255, 92, 0);
    border-radius: 140px;
}

.gallery-box ul li > div strong {
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.gallery-box ul li > div small {
    display: block;
    margin: 5px 0px 0px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

@media (max-width: 991px) {
    .gallery-box ul {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        margin: 0px -10px;
        text-align: center;
    }

    .gallery-box ul::-webkit-scrollbar {
        display: none;
    }

    .gallery-box ul li {
        display: inline-block;
        margin-right: 10px;
        border-radius: 15px;
        width: 200px;
    }

    .gallery-box ul li:first-of-type {
        margin-left: 10px;
    }

    .gallery-box ul li > div {
        bottom: 15px;
        padding: 0px 10px;
    }

    .gallery-box ul li > div span {
        font-size: 12px;
        width: 70px;
        margin: 0px 0px 10px;
        padding: 5px 0px;
    }

    .gallery-box ul li > div strong {
        font-size: 19px;
        text-align: left;
    }

    .gallery-box ul li > div small {
        font-size: 14px;
        white-space: initial;
        text-align: left;
        line-height: 1.3;
    }
}

.board-gallery-box ul {
    display: flex;
    justify-content: center;
    gap: 0px 30px;
}

.board-gallery-box ul li {
    width: calc(30%);
}

.board-gallery-box ul li a {
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.board-gallery-box ul li a .list-image {
    background-size: cover;
    background-position: center center;
}

.board-gallery-box ul li a .list-image::after {
    display: block;
    content: "";
    padding-bottom: 80%;
}

.board-gallery-box ul li a .list-content {
    background: rgb(18, 68, 133);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 0px 0px 10px 10px;
    padding: 12px;
    color: rgb(255, 255, 255);
}

.board-gallery-box ul li a .list-content .tit {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.board-gallery-box ul li a .list-content .txt {
    margin-top: 5px;
    width: 260px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.board-gallery-box ul li a .list-content em {
    display: block;
    text-align: right;
    margin-top: 5px;
    opacity: 0.8;
}

.board-gallery-box .more {
    margin: 24px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.board-gallery-box .more a {
    border: 1px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    font-size: 18px;
    padding: 10px 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-top: 40px;
}

@media (max-width: 991px) {
    .board-gallery-box ul {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        margin: 0px -10px;
        text-align: center;
    }

    .board-gallery-box ul::-webkit-scrollbar {
        display: none;
    }

    .board-gallery-box ul li {
        display: inline-block;
        margin-right: 10px;
        width: 200px;
    }

    .board-gallery-box ul li:first-of-type {
        margin-left: 10px;
    }

    .board-gallery-box ul li a .list-content {
        padding: 12px 10px;
    }

    .board-gallery-box ul li a .list-content p {
        font-size: 15px;
        white-space: initial;
        text-align: left;
    }

    .board-gallery-box .more a {
        font-size: 16px;
    }

    .board-gallery-box ul li a .list-content .tit {
        font-size: 16px;
    }

    .board-gallery-box ul li a .list-content .txt {
        width: 180px;
        font-size: 14px;
    }
}

.board-list-box > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board-list-box > ul li {
    width: calc(50% - 25px);
}

.board-list-box > ul li .list-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.board-list-box > ul li .list-head strong {
    font-size: 28px;
    font-weight: 700;
    color: rgb(26, 26, 26);
}

.board-list-box > ul li .list-head a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
}

.board-list-box > ul li .list-head a::after {
    display: inline-block;
    content: "";
    width: 6px;
    height: 10px;
    background: url("../images/icon_more.png") center center / cover no-repeat;
    margin: 0px 0px 0px 5px;
}

.board-list-box > ul li .list-body {
    margin-top: 12px;
}

.board-list-box > ul li .list-body dl dd {
    margin: 0px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board-list-box > ul li .list-body dl dd:last-of-type {
    margin: 0px;
}

.board-list-box > ul li .list-body dl dd a {
    flex: 1 1 0%;
    min-width: 0px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 15px;
    font-size: 16px;
}

.board-list-box > ul li .list-body dl dd time {
    font-size: 16px;
}

@media (max-width: 991px) {
    .board-list-box > ul li {
        width: 100%;
        padding: 0px 0px 25px;
        margin: 0px 0px 25px;
        border-bottom: 1px solid rgb(221, 221, 221);
    }

    .board-list-box > ul li:last-of-type {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

    .board-list-box > ul li .list-head strong {
        font-size: 20px;
    }

    .board-list-box > ul li .list-body {
        margin: 15px 0px 0px;
    }

    .board-list-box > ul li .list-body dl dd {
        margin: 0px 0px 10px;
    }

    .board-list-box > ul li .list-body dl dd a {
        font-size: 15px;
    }

    .board-list-box > ul li .list-body dl dd time {
        font-size: 13px;
    }
}


.main-box-01 {
    background: url("../images/bg_main_01.png") center center / cover no-repeat;
    padding: 160px 0px;
    margin: -40px 0px 0px;
}

.main-box-01 h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    text-shadow: rgb(51, 51, 51) 0px 0px 5px;
}

.main-box-01 h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    text-shadow: rgb(51, 51, 51) 0px 0px 5px;
}

.main-box-01 p {
    margin: 15px 0px 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    color: rgb(255, 255, 255);
    text-shadow: rgb(102, 102, 102) 0px 0px 5px;
}

.main-box-01 p strong {
    vertical-align: baseline;
    font-size: inherit;
    font-weight: bold;
}

.main-box-01 .btn-list-wrap {
    display: flex;
    gap: 0px 15px;
    margin-top: 20px;
}

.main-box-01 .btn-list-wrap a {
    display: block;
    padding: 9px 30px;
    background: rgb(251, 227, 0);
    border-radius: 20px;
    font-weight: bold;
}

.main-box-01 .btn-list-wrap a.price {
    color: rgb(255, 255, 255);
    background: rgb(220, 51, 71);
}

.main-box-01 .btn-list-wrap a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icon_kakao_inq.png") center center / contain no-repeat;
    vertical-align: middle;
}

.main-box-01 .btn-list-wrap a.price::before {
    width: 10px;
    margin-right: 5px;
    background-image: url("../images/icon_price.png");
}

.main-box-02 {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    padding-top: 120px;
    min-height: 720px;
    background: #f5f5f7 url(../images/img_main_02.png) no-repeat center bottom / cover;
}

.main-box-02 .title-box p {
    font-size: 22px;
    margin-top: 20px;
    line-height: 1.5;
    letter-spacing: -0.05em;
}

.main-box-02 .iframe-box {
    width: 600px;
}


@media (max-width: 991px) {
    .main-box-01 {
        padding: 100px 0;
        background: url("../images/bg_main_01_mob.png") no-repeat right -150px bottom / cover;
    }
    .main-box-01 h3 {
        font-size: 30px;
        margin-left: 20px;
    }
    .main-box-01 h2 {
        font-size: 45px;
        margin-left: 20px;
    }

    .main-box-01 p {
        margin: 5px 0px 0px 20px;
        font-size: 22px;
    }

    .main-box-02 {
        min-height: 550px;
    }

    .main-box-02 .title-box p {
        font-size: 16px;
    }

    .main-box-02 .iframe-box {
        width: inherit;
    }
}

.main-box-03 {
    padding: 80px 0px;
    background: #f8f7f5;
}

.main-box-03-list-wrap {
    position: relative;
}

.main-box-03-list {
    width: 650px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-box-03-item div {
    padding: 200px 0 0 0;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 3px 3px 5px #ccc
}

.main-box-03-item.type01 div {
    background: #fff url("../images/img_main_03_01.png") no-repeat center top 35px/ 180px;
}

.main-box-03-item.type02 div {
    background: #fff url("../images/img_main_03_02.png") no-repeat center top 30px/ 180px;
}

.main-box-03-item.type03 div {
    background: #fff url("../images/img_main_03_03.png") no-repeat center top 35px/ 270px;
}

.main-box-03-item.type04 div {
    background: #fff url("../images/img_main_03_04.png") no-repeat center top 35px/ 100px;
}

.main-box-03-item .item-txt {
    padding: 20px;
    background: #eee;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
}

@media (max-width: 991px) {
    .main-box-03-item div{
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .main-box-03 {
        padding: 60px 0;
    }
    .main-box-03-list {
        display: -webkit-box;
        width: auto;
    }
    .main-box-03-item .item-txt {
        padding: 15px;
        font-size: 15px;
    }
}

.main-box-04 {
    padding: 80px 0px;
    background: #ebf0f3;
}

.main-box-04-item {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.main-box-04-list-wrap {
    position: relative;
}

.main-box-04-list {
    position: relative;
}

.main-box-04-item img {
    width: 300px;
}

.main-box-04-item-txt .sub-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #003da6;
}

.main-box-04-item-txt .sub-title::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/icon_check3.png') no-repeat center / contain;
    margin-right: 5px;
}

.main-box-04-item-txt .sub-text {
    font-size: 16px;
    line-height: 1.3;
}

.swiper-button-prev {
    background: url('../images/icon_arrow_left.png') no-repeat center / contain;
    left: 200px;
}

.swiper-button-next {
    background: url('../images/icon_arrow_right.png') no-repeat center / contain;
    right: 200px;
}

@media (max-width: 1100px) {
    .swiper-button-prev {
        left: 20px;
    }
    
    .swiper-button-next {
       right: 20px;
    }
}

@media (max-width: 768px) {
    .main-box-04-item {
        flex-direction: column;
    }
    .main-box-04-item img {
        width: 60%;
    }
}

.main-box-04-1 {
    padding: 80px 0;
    background: url("../images/img_main_04-1.png") no-repeat center / cover;
}

.main-box-04-1 img {
    width: 80%;
    margin: 80px auto;
    max-width: 1000px;
    display: block;
}

.main-box-05 {
    padding: 100px 0px 20px;
    background: url("../images/bg_intro.png") center center / cover no-repeat;
}

.main-box-05 small {
    display: block;
    margin-top: 50px;
    color: rgb(136, 136, 136);
    text-align: center;
    font-size: 12px;
}


@media (max-width: 991px) {
    .main-box-05 {
        padding: 50px 0;
    }
}

.main-box-06 {
    padding: 80px 0;
    background: #fff;
}

.main-box-06-list-wrap {
    position: relative;
}

.main-box-06-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-box-06-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.main-box-06-item .sub-title {
    font-size: 18px;
    background: #003da6;
    padding: 8px 20px;
    color: #fff;
    border-radius: 20px;
}

.main-box-06-item .sub-text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.main-box-06-item img {
    margin-top: 30px;
    width: 400px;
}

@media (max-width: 768px) {
    .main-box-06-item img {
        margin-top: 10px;
        width: 70%;
    }
    .main-box-04,
    .main-box-04-1,
    .main-box-05,
    .main-box-06 {
        padding: 60px 0;
    }
}

.floating-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    right: 20px;
    z-index: 14;
}

.floating-list a {
    display: block;
    width: 92px;
    height: 120px;
    background: url("../images/icon_fixed_01.png") center center / cover no-repeat;
    font-size: 0px;
    margin-bottom: 15px;
}

.floating-list a.price {
    background-image: url("../images/icon_fixed_02.png");
}

.floating-list a.top {
    width: 60px;
    height: 60px;
    background: rgb(18, 68, 133);
    border-radius: 50%;
    font-size: 14px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.floating-list a.top small {
    font-size: 10px;
}

.floating-list-m {
    position: fixed;
    bottom: 15px;
    left: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 20;
}

.floating-list-m li {
    width: 100%;
}

.floating-list-m li a {
    display: block;
    width: 100%;
    height: 45px;
    background: url("../images/kakao_inq.png") center center / contain no-repeat rgba(251, 227, 0, 0.984);
    border-radius: 14px;
}

.floating-list-m li a.price {
    background: url("../images/price_inq.png") center center / contain no-repeat rgb(220, 51, 71);
}

 
/* social-box */
.social-box ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social-box ul li {
    margin: 0px 10px;
}

.social-box ul li a {
    display: block;
    font-size: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.social-box ul li.facebook a {
    background-image: url("../images/icon_facebook.png");
}

.social-box ul li.instagram a {
    background-image: url("../images/icon_instagram.png");
}

.social-box ul li.blog a {
    background-image: url("../images/icon_blog.png");
}

.social-box ul li.kakao a {
    background-image: url("../images/icon_kakao.png");
}

/* kakao-box */
.kakao-box {
    width: 263px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 12px 24px;
    text-align: center;
}

.kakao-box b {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(17, 17, 17);
}

.kakao-box strong {
    display: block;
    font-size: 24px;
    font-weight: 800;
    color: rgb(17, 17, 17);
    margin: 5px 0px;
}

.kakao-box a {
    width: 100%;
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(57, 32, 32);
    background: rgb(254, 229, 0);
}

.kakao-box a::before {
    display: inline-block;
    font-size: 0px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    vertical-align: -6px;
    background: url("../images/icon_kakao_channel.png") center center / cover no-repeat;
    content: "";
}

@media (max-width: 991px) {
    .kakao-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 40px);
        border-radius: 14px;
        margin: 20px 20px 0px;
        padding: 12px 26px;
        border: 2px solid rgb(238, 238, 238);
        box-sizing: border-box;
    }

    .kakao-box b {
        align-items: center;
        font-size: 18px;
    }

    .kakao-box b strong {
        margin: 0px 0px 0px 8px;
        flex: 1 1 0%;
        min-width: 0px;
        font-size: 20px;
    }

    .kakao-box a {
        width: 180px;
        margin-top: 5px;
    }
}

/* title-box */
.title-box h2 {font-size:28px; font-weight:700; color:#1a1a1a; text-align:center; margin:0 0 10px;}
.title-box h3 {display:flex; flex-wrap:wrap; align-items:center; font-size:16px; font-weight:600; color:#1a1a1a; margin:0 0 10px;}
.title-box h3:before {display:inline-block; content:""; width:3px; height:3px; background:#1a1a1a; border-radius:50%; margin:0 5px 0 0; content:"";}
.title-box h3.type01 {
    font-size: 20px;
}
.title-box h3.type01 b {
    font-size: 20px;
    color: #DC3347;
    font-weight: bold;
}
.title-box p {font-size:18px; font-weight:600; color:#1a1a1a; line-height:1.3; text-align:center;}
.title-box p b {position:relative;}
.title-box p strong {
    vertical-align: baseline;
    font-size: inherit;
    font-weight: bold;
}
.title-box p b em {position:relative; font-size:18px; font-weight:600; color:#1a1a1a; line-height:1.3; position:relative;}
.title-box p b:before {position:absolute; left:0; bottom:-5px; width:100%; height:6px; background:rgba(220, 51, 71, 0.70); content:"";}
.title-box.gr {background:#F5F5F5; margin:0 -24px; padding:24px 15px;}
@media (max-width:991px){
.title-box.gr {margin:0 -15px; padding:24px 10px;}
}


/* button-box */
.button-box {display:flex; flex-wrap:wrap; align-items:center;}
.button-box .btn {border-radius: 14px;height: 55px;font-size:20px;font-weight:700;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;flex:1;min-width:0;}
.button-box .btn.calculate:before {display:inline-block; content:""; width:24px; height:24px; background:url('../images/icon_calculation.png') no-repeat center / cover; margin:0 10px 0 0;}
.button-box .btn.write:before {display:inline-block; content:""; width:24px; height:24px; background:url('../images/icon_write.png') no-repeat center / cover; margin:0 10px 0 0;}
.button-box .btn-active {background:#DC3347; color:#fff;}
.button-box .btn-gray {background:#8C8C8C; color:#fff;}
.button-box .btn.btn-white {
    background: #fff;
    border: 1px solid #ccc;
}
.btn.btn-blue {
    width: 240px;
    border-radius: 20px;
    background: #003da6;
    color: #fff;
    flex: none;
}
.button-box .btn.btn-white:active {
    background:#DC3347; color:#fff;
}
.button-box .btn.btn-s {
    height: 40px;
    font-size: 16px;
}
.button-box .btn.btn-xs {
    max-width: 70px;
    height: 30px;
    font-size: 14px;
}
@media (max-width:767px){
.button-box .btn {height: 45px;font-size:17px;}
.button-box .btn.calculate:before {width:20px; height:20px; margin:0 7px 0 0;}
.button-box .btn.write:before {width:20px; height:20px; margin:0 7px 0 0;}
.button-box .btn.btn-xs {font-size: 12px;}
}

.btn-line {
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px 15px;
    color: #fff;
}

.btn-more {
    display: block;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    color: #1877F2;
}

.btn-more::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background: url('../images/icon_close_up.png') no-repeat center / contain;
    transition: all .5s ease;
}

.btn-more.off::after {
    transform: scaleY(-1);
}

@media (max-width:767px){
    .btn-more {
        font-size: 16px;
    }
}


